<div class="row" id="admin-users-index">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>Users</h1>
        </div>
        <form class="filters">
            <div class="row">
                <div class="col-sm-3">
                    <label>Username Search</label>
                    <input name="username" type="text" class="form-control" ng-model="filters.username" ng-model-options="{ debounce: 500 }" ng-change="filtersUpdated()">
                </div>
                <div class="col-sm-2">
                    <label>Sort By</label>
                    <select name="sort" class="form-control" ng-model="filters.sort" ng-model-options="{ debounce: 500 }" ng-options="sort.value as sort.label for sort in sorts" ng-change="filtersUpdated()">
                    </select>
                </div>
                <div class="col-sm-2">
                    <label>Limit</label>
                    <select name="limit" class="form-control" ng-model="filters.limit" ng-model-options="{ debounce: 500 }" ng-options="limit.value as limit.label for limit in limits" ng-change="filtersUpdated()">
                    </select>
                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>username</th>
                    <th class="stretch">email</th>
                    <th>id</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td><a class="btn btn-default btn-sm" ng-click="remove(user)">Delete</a></td>
                    <td ng-bind="user.username"></td>
                    <td ng-bind="user.email"></td>
                    <td ng-bind="user._id"></td>
                </tr>
                <tr ng-show="users.length === 0">
                    <td colspan="5">no documents matched</td>
                </tr>
            </tbody>
        </table>
        <div class="well" ng-if="pages.total > 1">
            <div class="btn-group pull-left">
                <button disabled class="btn btn-default">Page {{pages.current}} of {{pages.total}}</button>
                <button disabled class="btn btn-default">Rows {{items.begin}} - {{items.end}} of {{items.total}}</button>
            </div>
            <div class="btn-group pull-right">
                <button class="btn btn-default" ng-class="{disabled: !pages.hasPrev}" ng-click="prev()">Prev</button>
                <button class="btn btn-default" ng-class="{disabled: !pages.hasNext}" ng-click="next()"> Next</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

