<audio controls  ng-src={{songName}}></audio>

<div class="comments">
        <form name="detailForm">
                <textarea placeholder="Write your comment", ng-model="comment" style"resize: none">
                </textarea>
                <button type="button" class="btn btn-primary btn-update" ng-click="submit()">Add</button>
        </form>

        <div ng-repeat="comment in comments">
        	<textarea readonly ng-bind="comment.content" ng-class="{disabled: false}"></textarea>
        </div>
</div>
<div class="sheetMusicButton">
	<a class="btn btn-default btn-sm" ng-click="redirect()">sheetMusic</a>
</div>

